.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        // position: relative;
    //    justify-content: space-between; 

        &__list {
        display: none;
        }
    }
    @media screen and (min-width: 768px) {
        &__list {
        display: flex;
        }
        &__list-item {
        display: block;
        margin-right: 50px;
        }

        &__list-item:last-child {
        margin-right: 0;
        }

        &__link {
        position: relative;

        display: block;
        padding: 32px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }

        &__list-item &__link.current {
        color: var(--nav-color);
        }

        &__link::after {
        display: block;
        position: absolute;
        content: "";
        bottom: 0;

        opacity: 0;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        width: 100%;
        height: 4px;
        background-color: var(--nav-color);
        border-radius: 2px;
        align-items: center;
        }

        .current::after,
        &__link:hover::after,
        &__link:focus::after {
        opacity: 1;
        }

        &__link:focus,
        &__link:hover {
            color: var(--nav-color);
        }
    }
}