:root {
    --main-white-color: #ffffff;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --first-logo-color: #000000;
    --nav-color: #2196F3;
}